body {
	background-color: #d4c9bb;
	font-family: 'DotGothic16', sans-serif;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}

.sidebar-text {
	writing-mode: horizontal-tb; /* Horizontal text */
	transform: rotate(270deg); /* No rotation */
	width: 150px;
}

#content {
	width: 100%;
	height: 100vh;
	background-color: #d4c9bb;
}
#introduction {
	margin: 100px;
	width: 45%;
}
.a {
	text-align: right;
}
#wrapper {
	display: flex;
	justify-content: space-between;
}
#wrapper img {
	margin: 70px;
}
.explore {
	text-align: center;
	padding: 10px;
	font-size: 28px;
	border-radius: 30px;
	border-width: 0.5px;
	opacity: 60%;
	background: #e1d7cb;
	color: #5a4e44;
	margin-top: -20px;
}
.explore:hover {
	background: #c0b6aa;
}
#content2 {
	background-color: #5a4e44;
	width: 100%;
	height: 100vh;
}
#content2 h1 {
	font-size: 40px;
	color: #fff;
	text-align: center;
}
#content3 h1 {
	font-size: 40px;
	color: #fff;
	text-align: center;
}
#content2 p {
	font-size: 20px;
	color: #d4c9bb;
	margin: 60px;
	font-family: 'Tiro Bangla', serif;
}
 .photo-album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
article {
	transform: scale(1.0);
	transition: 0.25s;
}
article:hover {
	transform: scale(1.1);
}
.photo {
    background-color: #a5988a;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    max-width: 340px;
	height: 300px;
    text-align: center;
	color: #fff;
}

.photo img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Add more styles as needed for titles, descriptions, and other elements */
.photo h2 {
    font-size: 20px;
	margin-top: -5px;
	font-family: 'Tiro Bangla', serif;
}

.photo p {
    font-size: 14px;
	font-family: 'Tiro Bangla', serif;
}
#content4 {
	background-color: #5a4e44;
}
#content4 h1 {
	font-size: 40px;
	color: #fff;
	text-align: center;
}
.languages {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
}
.logo-container {
	text-align: center;
}

.logo img {
	width: 100px; /* Adjust the size as needed */
	margin-top: 30px;
	height: auto;
}

.logo-text {
	margin-top: 10px;
	font-size: 14px;
}